@{
    ViewBag.Title = "Home Page";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Vijay Kumar Profile</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->

    <link href="~/Content/vendor/aos/aos.css" rel="stylesheet" />
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Content/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <!-- Template Main CSS File -->
    <link href="~/Content/css/style.css" rel="stylesheet" />

    <!-- =======================================================
    * Template Name: MyResume
    * Updated: Nov 17 2023 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Mobile nav toggle button ======= -->
    <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
    <i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex flex-column justify-content-center">

        <nav id="navbar" class="navbar nav-menu">
            <ul>
                <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
                <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
                <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>


                <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
            </ul>
        </nav><!-- .nav-menu -->

    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center">
        <div class="container" data-aos="zoom-in" data-aos-delay="100">
            <h1>Vijay Kumar</h1>
            <p>I'm <span class="typed" data-typed-items="Designer, Developer, Freelancer"></span></p>
            <div class="social-links">
                <a href="https://www.instagram.com/vijay_advaniya" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://github.com/vijay2001-developer" class="github"><i class="bx bxl-github"></i></a>

                <a href="https://www.linkedin.com/in/vijay-k-465743229" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>About</h2>
                    <p>👋 Hey there! I'm Vijay Advaniya, a passionate .NET developer with a keen interest in crafting robust and innovative solutions. With 1 years of experience in the industry, I thrive on the challenges of software development and love diving deep into the intricacies of code.</p>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <img src="~/Content/img/vijay1.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 pt-4 pt-lg-0 content">
                        <h3>UI/UX Designer &amp; Web Developer.</h3>
                        <p class="fst-italic">
                            🖥️ My journey in the world of technology began with a fascination for how software can transform ideas into reality. Over the years, I've honed my skills in .NET development, mastering frameworks like ASP.NET and learned about HTML, CSS, Bootstrap, JavaScript, JQuery, AJAX to build dynamic web applications.
                        </p>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>12 Aprail 2001</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span><a href="https://github.com/vijay2001-developer">https://github.com/vijay2001-developer</a></span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+91 872 666 1467</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Lucknow, Uttar Pradesh</span></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>22</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Diploma:</strong> <span>CSE</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>PhEmailone:</strong> <span>vijayadvaniya@gmail.com</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            💼 Throughout my career, I've had the privilege of working on a diverse range of projects, from small-scale applications to enterprise-level systems. Each project has taught me valuable lessons and helped me refine my craft, whether it's optimizing performance, ensuring scalability, or delivering an exceptional user experience.
                        </p>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->
        <!-- ======= Facts Section ======= -->
        <section id="facts" class="facts">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Facts</h2>

                </div>

                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="count-box">
                            <i class="bi bi-emoji-smile"></i>
                            <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Happy Clients</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                        <div class="count-box">
                            <i class="bi bi-journal-richtext"></i>
                            <span data-purecounter-start="0" data-purecounter-end="11" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Projects</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                        <div class="count-box">
                            <i class="bi bi-headset"></i>
                            <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Hours Of Support</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                        <div class="count-box">
                            <i class="bi bi-award"></i>
                            <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Awards</p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Facts Section -->
        <!-- ======= Skills Section ======= -->
        <section id="skills" class="skills section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Skills</h2>
                    <p>💻 As a seasoned .NET developer, I bring a wealth of technical expertise to the table. Proficient in the Microsoft .NET framework, I specialize in leveraging C# to build robust, scalable, and high-performance applications across various platforms.</p>
                </div>

                <div class="row skills-content">

                    <div class="col-lg-6">

                        <div class="progress">
                            <span class="skill">HTML <i class="val">100%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">CSS <i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">JavaScript <i class="val">75%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress">
                            <span class="skill">Ajax <i class="val">85%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6">
                        <div class="progress">
                            <span class="skill">Angular JS <i class="val">80%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress">
                            <span class="skill">.NET MVC <i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress">
                            <span class="skill">Python <i class="val">80%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>



                        <div class="progress">
                            <span class="skill">Database <i class="val">95%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress">
                            <span class="skill">JQuery <i class="val">95%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Skills Section -->
        <!-- ======= Resume Section ======= -->
        <section id="resume" class="resume">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Resume</h2>
                    <p>🚀 With a passion for continuous learning and staying abreast of the latest industry trends, I'm committed to expanding my skill set and embracing emerging technologies to push the boundaries of what's possible in .NET development.</p>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="resume-title">Sumary</h3>
                        <div class="resume-item pb-0">
                            <h4>Vijay Advaniya</h4>
                            <p><em>Innovative and deadline-driven full stack Developer with 1 years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.</em></p>
                            <ul>
                                <li>Lucknow, Uttar Pradesh</li>
                                <li>+91 872 666 1467</li>
                                <li>vijayadvaniya@gmail.com</li>
                            </ul>
                        </div>

                        <h3 class="resume-title">Education</h3>
                        <div class="resume-item">
                            <h4>Diploma in Computer Science &amp; Engineering</h4>
                            <h5>2020 - 2023</h5>
                            <p><em>Prasad Polytechnic Jaunpur</em></p>
                            <p>Diplomate from Government Polytechnic Shahjahanpur, showcasing exemplary dedication and proficiency in Computer Science Engineering with an outstanding 85% Marks.</p>
                        </div>
                        <div class="resume-item">
                            <h4>Intermediate Schooling</h4>
                            <h5>2019 - 2020</h5>
                            <p><em>Kendriya Vidyalaya Sitapur</em></p>
                            <p>Completed my senior secondary education with 88% in PCM</p>
                        </div>
                        <div class="resume-item">
                            <h4>Highschool Schooling</h4>
                            <h5>2017 - 2018</h5>
                            <p><em>Kendriya Vidyalaya Sitapur</em></p>
                            <p>Completed my secondary education with 70% in PCM</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="resume-title">Professional Experience</h3>
                        <div class="resume-item">
                            <h4>Software Developer</h4>
                            <h5>May 2024 - Present</h5>
                            <p><em>Quaere Etechnologies Pvt. Ltd. </em></p>
                            <ul>
                                <li>
                                    I am a proficient Full Stack .NET Developer working at Quaere Etechnologies. With a strong command of AngularJS, I excel in building robust and dynamic web applications. My expertise spans both front-end and back-end development, making me a versatile and valuable asset to my team. At Digisure Technologies, i contribute to delivering high-quality software solutions, leveraging my technical skills and experience to drive innovation and success.
                                </li>
                                <li>At Quaere Etechnologies, I am recognized for my ability to tackle challenging problems and deliver innovative solutions. I collaborate effectively with cross-functional teams, contributing to project planning, design, and implementation phases. My attention to detail and commitment to quality ensure that the software products I develop meet the highest standards of performance, security, and usability.</li>

                            </ul>
                        </div>
                        <div class="resume-item">
                            <h4>Software Intern</h4>
                            <h5>2023 - 2024</h5>
                            <p><em>Softpro India Pvt. Ltd. Lucknow </em></p>
                            <ul>
                                <li>
                                    During my internship at Softpro India as a .NET developer, I was immersed in a vibrant and fast-paced environment that fostered both learning and innovation. Collaborating with seasoned professionals, I had the opportunity to apply my theoretical knowledge to real-world projects, gaining invaluable hands-on experience in .NET development.
                                </li>
                                <li>Throughout my internship, I embraced every challenge as an opportunity to grow, constantly seeking feedback and refining my skills. Whether it was debugging code, optimizing performance, or integrating new features, I approached each task with enthusiasm and a willingness to learn. </li>

                            </ul>
                        </div>
                        <div class="resume-item">
                            <h4>Summer Training Trainee</h4>
                            <h5>2022 </h5>
                            <p><em>Softpro India Pvt. Ltd. Lucknow</em></p>
                            <ul>
                                <li>I was the part of the summer training 2022 batch.</li>
                                <li>Learned about Basics of  web development.</li>
                                <li>Created a Naland Open University Website using Advanced Java as my Project.</li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Resume Section -->
        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Testimonials</h2>
                </div>

                <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="~/Content/img/vijay.jpg" class="testimonial-img" alt="">
                                <h3>Vijay Kumar</h3>
                                <h4>Ceo &amp; Founder</h4>
                                <h4>Stack Technology</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Your dedication and commitment to excellence have truly set you apart as a valuable asset to our team at Softpro India. Your contributions have been instrumental in driving our projects forward and your passion for innovation is truly inspiring. Thank you for your hard work and unwavering dedication to our company's success.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="~/Content/img/Divya.jpg" class="testimonial-img" alt="">
                                <h3>Saloni Advaniya</h3>
                                <h4>Project Manager</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Your exceptional work ethic and unwavering dedication to our projects have not gone unnoticed. Your attention to detail, proactive approach, and willingness to go above and beyond have made a significant impact on the success of our team. Thank you for your outstanding contributions and for consistently exceeding expectations.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="~/Content/img/Aleesha.JPG" class="testimonial-img" alt="">
                                <h3>Nikita Sony</h3>
                                <h4>Office Colleague</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Your positivity, teamwork, and willingness to lend a helping hand have made a lasting impression on all of us at Softpro India. Your contributions to our projects and your collaborative spirit have created a supportive and motivating work environment. Thank you for being such a fantastic colleague and for always going the extra mile
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="~/Content/img/mohit.JPG" class="testimonial-img" alt="">
                                <h3>Vijay Saroj</h3>
                                <h4>Office Colleague</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Your dedication and hard work are truly commendable, and I want to express my sincere appreciation for all that you do. Your positive attitude and willingness to support your colleagues make our workplace a better place. Thank you for being such an incredible teammate!
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="~/Content/img/Rish.JPG" class="testimonial-img" alt="">
                                <h3>Prashant Trivedi</h3>
                                <h4>Office Colleague</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Your professionalism, expertise, and willingness to help others never fail to impress me. Thank you for being such a valuable member of our team and for consistently delivering outstanding results. Your contributions make a significant difference, and I am grateful to have you as a colleague.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->

                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section><!-- End Testimonials Section -->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Contact</h2>
                </div>

                <div class="row mt-1">

                    <div class="col-lg-4">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Location:</h4>
                                <p>Lucknow, Uttar Pradesh</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>vijayadvaniya@gmail.com</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Call:</h4>
                                <p>+91 872 666 1467</p>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-8 mt-5 mt-lg-0">

                        <form method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                                </div>
                                    <div class="col-md-6 form-group mt-3 mt-md-0">
                                       
                                        <input type="number" class="form-control" name="number" id="number" placeholder="number" required>
                                    </div>
                                    <div class="col-md-6 form-group mt-3 mt-md-0">
                                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>

                                    </div>


                                    <div class="col-md-6 form-group mt-3 mt-md-0">
                                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                                    </div>
                                </div>
                                    <div class="form-group mt-3">
                                        <textarea class="form-control" name="message" rows="2" placeholder="Message" required></textarea>
                                    </div>
                                    <div class="my-3">
                                        <div class="loading">Loading</div>
                                        <div class="error-message"></div>
                                        <div class="sent-message">Your message has been sent. Thank you!</div>
                                    </div>
                                    <div>
                                        <input type="submit" value="Send" onclick="msg()"/>
                                    </div>
</form>
                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->
    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <h3>Vijay Kumar</h3>
            <p>Thank you for taking the time to visit my portfolio website! Your interest and support mean a lot to me. If you have any questions or feedback, feel free to reach out. I look forward to connecting with you.</p>
            <div class="social-links">


                <a href="https://www.instagram.com/vijay_advaniya" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://github.com/vijay2001-developer" class="github"><i class="bx bxl-github"></i></a>

                <a href="https://www.linkedin.com/in/vijay-k-465743229" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
            <div class="copyright">
                &copy; Copyright <strong><span>Vijay Kumar</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: [license-url] -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ -->
                Designed by <a href="https://github.com/vijay2001-developer">Vijay Kumar</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/Content/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/Content/vendor/aos/aos.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Content/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Content/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Content/vendor/typed.js/typed.umd.js"></script>
    <script src="~/Content/vendor/waypoints/noframework.waypoints.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Content/js/main.js"></script>

    <script>
        function msg() {
            alert("I will Contact You Soon")
        }
    </script>

</body>

</html>
